@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #242424;
    background-image: url('../public/images/pexels-lastly-1671643_oDHANv298L.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.btn{
    @apply px-2 py-0.5 rounded text-black bg-blue-400 hover:bg-green-400;
}

.btn-edit{
    @apply px-2 py-0.5 rounded text-black bg-blue-400 hover:bg-orange-400;
}

.btn-delete{
    @apply px-2 py-0.5 rounded text-black bg-blue-400 hover:bg-red-400;
}